*,
*::before,
*::after {
  box-sizing: border-box;
}

/* styling the body,HTML and wrapper section */
html,
body,
.wrapper {
  min-height: 300px;
  margin: 0;
  padding: 0;
  background-color: #ebebeb;
  color:#555555;

  font-weight: normal; 
  font-size: 16px;
  font-family: serif,Arial, Helvetica, sans-serif;

}
/* choosing sans-serif font for the body section */
body {
  font-family: sans-serif;
}
/* styling the wrapper */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content:center;
flex-direction: row;

}
/* styling the header section */
header {
  text-align: center;
  padding: 10px;
  color: hsl(206, 17%, 28%);
}

/* styling the password container and its title, start*/

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow:  10px 10px 10px #888888;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  min-width: 58%;
  padding: 5px 20px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}
.card .card-header h2{
  font-size:22px;
}
.card-body {
  position: relative;
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.card-body textarea:focus{
  border-color: #27a360 ;  
  box-shadow:  0px 0px 10px #888888;
}

#password { /* styling the password section*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

/* styling the password container and its title, end*/

/* styling the button  start*/
.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow:  0px 5px 10px #888888;

  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 18px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 8px 25px;
  text-align: center;
  cursor: pointer;
}
.copyBtn {
  position: absolute;
  border: none;
  border-radius:4px;
  display: none;
  font-size: 18px;
  line-height: 22px;
  margin: 16px ;
  cursor: pointer;
  right:-20px;
  top:-60px;
  background:url(./clipboard.png) no-repeat;
  background-size:cover;
  transform: scale(0.7);
  width:38px;
  height:45px;
  overflow: hidden;
}


.btn:hover{
  background:lightgray;color:red;
}
.btn:active{
  transform: scale(0.90);

}
/* styling the button  end*/

/* styling the criteria output section start */

.mycriterialist{
  min-width: 25%;
  height:100%;
  display:none;
  color:#fff;
  /* font-weight: 600;  */
  background: hsl(360, 91%, 36%);
  padding:10px  20px;
  border-radius: 10px;
  margin: 10px auto;
  padding-left: 25px;
  float:right;
  box-shadow:  -10px 10px 10px #888888;

}
.mycriterialist ul{
  color:black;
  line-height: 1.0;
  font-size: 14px;
  padding:8px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.mycriterialist li{
  position: relative;
  padding: 8px;
  padding-left:5px;

}
.mycriterialist li::before{
 
  content: "";
  position: absolute;
  left:-32px;
  top:5px;
  width:20px;
  height:20px;
  background:url(./check.png);
  background-size: cover;
  background-position: center; 
  transform: scale(0.8);  
}
  /*  Adding password strength indicator style */

  .mycriterialist .indicator{
    height:10px;
    display:flex;
    align-items:center ;
    justify-content: space-between;
    margin:10px 0;

  }  
  .mycriterialist .text{
    height:10px;
    text-align: center;
    margin:10px 0;
 
  }  

  .mycriterialist .indicator span{
    position: relative;
    width:100%;
  height:100%;
  background:lightgrey;
  border-radius: 5px;
  border:2px solid #ffffff;
  } 
  .mycriterialist .indicator span.medium, .mycriterialist .indicator span.weak{
    margin:0 3px;
  }
  .mycriterialist .indicator span::before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  /* background:red; */
  border-radius: 5px;

  }
  .mycriterialist .indicator span.active.tooweak::before{
  background:#ff4757;
  }
  .mycriterialist .indicator span.active.weak::before{
  background:orange;
  }  
  .mycriterialist .indicator span.active.medium::before{
  background:rgb(0, 255, 64);
  }       
  .mycriterialist .indicator span.active.strong::before{
  background:green;
  }  
 
  .mycriterialist .text .tooweak{
    color:red;
  }
  .mycriterialist .text .weak{
    color:orange;
  }
  .mycriterialist .text .medium{
    color:rgb(0, 110, 255);
  }
  .mycriterialist .text .strong{
    color:green;
  }
  /*  end of strength indicator */
/* styling the criteria output section start */

  /* Footer setcion style */
  footer {
    position: relative;
    margin: 50px auto;
    height: 60px;
    min-width: 100%;
    /* line-height: 60px; */
    background-color:#363636;    
    text-align: center;
    color:#fff;
    border-radius:50px;

  }

  /*  screen control section for being responsive */
@media (max-width: 800px) {
  .btn {
    line-height: 0.8rem;
    margin: 16px 16px 16px 20px;
    padding: 8px 25px;
    font-size: 15px;
    transition:all 0.3s ease;
  }

  #password {
    font-size: 1rem;
    transition:all 0.3s ease;

  }
  .card .card-header h2{
    transition:all 0.3s ease;

    font-size:20px;
  }
  .wrapper {
    flex-direction: column;
    transition:all 0.1s ease;

  }
  .card{
    min-width: 95%;
    transition:all 0.1s ease;

  }
  .mycriterialist{
    min-width:95%;
    transition:all 0.11s ease;

  }
}

@media (max-width: 600px) {
  .btn {
    line-height: 0.8rem;
    margin: 16px 16px 16px 20px;
    padding: 8px 25px;
    font-size: 13px;
    transition:all 0.3s ease;
  }

  #password {
    font-size: 0.9rem;
    transition:all 0.3s ease;

  }
  .card .card-header h2{
    transition:all 0.3s ease;

    font-size:16px;
  }
  .wrapper {
    flex-direction: column;
    transition:all 0.1s ease;

  }
  .card{
    min-width: 95%;
    transition:all 0.1s ease;

  }
  .mycriterialist{
    min-width:95%;
    transition:all 0.11s ease;

  }
  .btn {
    line-height: 0.8rem;
    margin: 16px 16px 16px 20px;
    padding: 8px 25px;
    font-size: 15px;
    transition:all 0.3s ease;
  }

  #password {
    font-size: 1rem;
    transition:all 0.3s ease;

  }
  .card .card-header h2{
    transition:all 0.3s ease;

    font-size:20px;
  }
  .wrapper {
    flex-direction: column;
    transition:all 0.1s ease;

  }
 
  .mycriterialist h4, .card-header h2{
    font-size: 13px;
    transition:all 0.3s ease;

  }
  header h1,  header{
    transition:all 0.3s ease;
    margin:0px auto;
    padding:0px;
  }
}
