*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  /* height: 100%; */
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color:#555555;

  font-weight: normal; /*! bold bolder */
  font-size: 16px;
  font-family: serif,Arial, Helvetica, sans-serif;
   /* simply this replace the above*/
  font: normal 16px Arial, Helvetica;
}

body {
  font-family: sans-serif;
  background-color: #f9fdf9;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content:center;
flex-direction: row;

}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow:  10px 10px 10px #888888;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  width: 50%;
  padding: 5px 20px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}
.card .card-header h2{
  font-size:22px;
}
.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow:  0px 5px 10px #888888;

  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 18px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 8px 25px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}
.btn:hover{
  background:lightgray;color:red;
}
.btn:active{
  transform: scale(0.90);

}

.float-right {
  float: right;
}

.card-body textarea:focus{
  border-color: #27a360 ;  
  box-shadow:  0px 0px 10px #888888;
}
#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

.mycriterialist{
  width: 40%;
  display:none;
  color:#fff;
  /* font-weight: 600;  */
  background: hsl(360, 91%, 36%);
  padding:10px  20px;
  border-radius: 10px;
  margin: 10px auto;
  padding-left: 25px;
  float:left;
  box-shadow:  -10px 10px 10px #888888;

}
.mycriterialist ul{
  color:black;
  line-height: 1.0;
  font-size: 14px;
  padding:8px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);

  
}

.mycriterialist li{
  position: relative;
  padding: 8px;
  padding-left:5px;

}
.mycriterialist li::before{
 
  content: "";
  position: absolute;
  left:-32px;
  top:5px;
  width:20px;
  height:20px;
  background:url(./check.png);
  background-size: cover;
  background-position: center; 
   
}

@media (max-width: 800px) {
  .btn {
    line-height: 0.8rem;
    margin: 16px 16px 16px 20px;
    padding: 8px 25px;
    font-size: 15px;
    transition:all 0.3s ease;
  }

  #password {
    font-size: 1rem;
    transition:all 0.3s ease;

  }
  .card .card-header h2{
    transition:all 0.3s ease;

    font-size:20px;
  }
  .wrapper {
    flex-direction: column;
    transition:all 0.1s ease;

  }
  .card{
    width: 85%;
    transition:all 0.1s ease;

  }
  .mycriterialist{
    width:85%;
    transition:all 0.11s ease;

  }
}

@media (max-width: 600px) {
  .btn {
    line-height: 0.8rem;
    margin: 16px 16px 16px 20px;
    padding: 8px 25px;
    font-size: 13px;
    transition:all 0.3s ease;
  }

  #password {
    font-size: 0.9rem;
    transition:all 0.3s ease;

  }
  .card .card-header h2{
    transition:all 0.3s ease;

    font-size:16px;
  }
  .wrapper {
    flex-direction: column;
    transition:all 0.1s ease;

  }
  .card{
    width: 85%;
    transition:all 0.1s ease;

  }
  .mycriterialist{
    width:85%;
    transition:all 0.11s ease;

  }
  .btn {
    line-height: 0.8rem;
    margin: 16px 16px 16px 20px;
    padding: 8px 25px;
    font-size: 15px;
    transition:all 0.3s ease;
  }

  #password {
    font-size: 1rem;
    transition:all 0.3s ease;

  }
  .card .card-header h2{
    transition:all 0.3s ease;

    font-size:20px;
  }
  .wrapper {
    flex-direction: column;
    transition:all 0.1s ease;

  }
  .card{
    width: 85%;
    transition:all 0.1s ease;

  }
  .mycriterialist h4, .card-header h2{
    font-size: 13px;
    transition:all 0.3s ease;

  }
  header h1,  header{
    transition:all 0.3s ease;
    margin:0px auto;
    padding:0px;
  }
}
